<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301881152319-t083c1hbbnh5le921eldqteho13abkd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301881152319-t083c1hbbnh5le921eldqteho13abkd4</string>
	<key>API_KEY</key>
	<string>AIzaSyCFgto5s3yDfcwjG_c4VAJVHW58U_6VuGw</string>
	<key>GCM_SENDER_ID</key>
	<string>301881152319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ortexsoft.sharedNotes</string>
	<key>PROJECT_ID</key>
	<string>shared-notes-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>shared-notes-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301881152319:ios:2a2b5d1c3155f83b97b98a</string>
</dict>
</plist>